.topmenu {
	background-color: #0762AD;
	border: 1px solid #dedede;
	/*border-radius: 4px;*/
	/*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
	box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.055);
	color: #dedede;
	display: block;
  padding: 4px;
	overflow: hidden;
	width: 100%;
}

.topmenu ul {
	margin: 0;
	padding: 0;
}

.topmenu ul li {
	display: inline-block;
	list-style-type: none;
	transition: all 0.2s;
}

.topmenu > ul > li > a {
	color: #dedede;
	display: block;
	line-height: 42px;
	padding: 0 12px;
	text-decoration: none;
	cursor: pointer;
}

.topmenu > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
  transition: color 0.1s linear;
}

.topmenu > ul > li:hover {
  background-color: #013865;
}

.topmenu > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

.topmenu > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

.topmenu > ul > li > div {
	background-color: #0762AD;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	z-index: 100;
	-transition: opacity 0.2s;
}

.topmenu > ul > li:hover > div {
	display: block;
	opacity: 0.95;
	visibility: visible;
}

.topmenu > ul > li > div ul > li {
	display: block;
}

.topmenu > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
	cursor: pointer;
}

.topmenu > ul > li > div ul > li:hover > a {
	background-color: #013865;
}
