.tbl {
  width: 860px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(164,164,164,0.3);
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  /*border: 1px solid rgb(164,164,164);*/
  /*border: 1px solid rgba(0, 0, 0, 0.05)*/
  border: 0px;
}

th, td {
  padding: 7px;
}

tr {

}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:hover {
  background-color: #FCF5AE;
  color: #000000;
}

th {
  background-color:  rgb(161, 215, 230);
  color: #000000;
  /*
  border-bottom: 1px solid rgba(164,164,164,0.7);
  border-left: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  */
}

td {

}

.selected {
  background-color: rgba(244, 164, 44, 0.78) !important;
  color: #000000;
  font-weight: bold;
}
